body {
    background-color:  #FEFFFE;
    font-family: Verdana, Geneva, sans-serif;
}

#add-order-button {
    margin: 10px;
}

#order-container {
    border: 1px solid black;
    border-radius: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#order-header-rows, #order-rows {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom: 1px solid black;
}

#order-header-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 5px 0 5px 0;
}

.order-header-content {
    width: 5.8%;
    font-weight: 500;
}

#enterOrder-container {
    display: block;
    position: absolute;
    background-color: #FFFFEA;
    width: 50%;

    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px;
    padding: 10px;
}

form {
  padding: 20px;
}

label {display: flex;}

input[type=text], select {
  width: 100%;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #AC3931;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #560701;
}